body{
     background: linear-gradient(to right, #44aaa5,#223344 ) 
    
}
.charasDiv{
    display: grid;
}
.rightClick{

    float: right ;
}

.chosebtn{
    align-items: center;
}
.pokeImg{
margin: auto;
width: 150px;
}
.opppokeImg{

    margin: auto;
    width: 150px; 
}

.pokeBatImg{
    display: none;
    -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}

.oppBatImg{
    float: right;
    display: none;
}

.oppStart{
    display: none;
}

.board{
border-style: solid;
border-color: #cb4439;
border-width: 10px;
height: 35em;

}
.lowStart{
    display: none;
}
.pokeName{
text-align: center;

}


.playAgain{
    display: none;
}

.displayHealth, .displayOppHealth{

    font-size: 25px;

}

.butContain{
    margin: auto;
  width: 50%;
}

h2{
    text-align: center;
}

img{
    width: 100px;
}

#bulbSelect
{
    height: 100px;
}

.startBattle{
    display: flex;
    float: right;
}

#pikaSelect:hover{
    background: yellow;
    border-radius: 50%;
}

#squirtSelect:hover{
    background: blue;
    border-radius: 50%;
   
}



#bulbSelect:hover{
    background: yellowgreen;
    border-radius: 50%;
}