body{
     background: linear-gradient(to right, #44aaa5,#223344 ) 
    
}


h2{
    text-align: center;
}

img{
    width: 100px;
}

#bulbSelect
{
    height: 100px;
}

.startBattle{
    display: flex;
    float: right;
}

#pikaSelect:hover{
    background: yellow;
    border-radius: 50%;
}

#squirtSelect:hover{
    background: blue;
    border-radius: 50%;
}

#charSelect:hover{
    background: orange;
    border-radius: 50%;
}

#bulbSelect:hover{
    background: yellowgreen;
    border-radius: 50%;
}